.section-8 {
	background: #ff9a06;
	padding: 30px 0;
	h2 {
		color: #ffffff;
	}
	.map-block {
		margin-top: 20px;
		p {
			font-weight: 400;
			font-size: 16px;
			color: #333333;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.map {
		width: 100%;
		margin-top: 15px;
		height: 405px;
	}
}