.section-5 {
	background: #d0eeea;
	padding: 35px 0;
	h2 {
		color: #66bfbb;
		text-align: left;
		margin-bottom: 40px;
	}
	p {
		font-weight: 600;
		font-size: 20px;
		color: #333333;
	}
	.section-5_target {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}