.section-4 {
	background: #73993f;
	padding: 45px 0;
	overflow: hidden;
	.crocodile {
		background: #9fc963;
		position: relative;
		p {
			font-weight: 900;
			color: #ffffff;
			font-size: 30px;
			text-transform: uppercase;
			text-align: center;
			margin-top: 40px;
		}
		img {
			position: absolute;
			top: 158px;
			right: 47px;
		}
	}
	.cost {
		background: #8fb03f;
		padding: 20px 30px;
		p {
			font-weight: 600;
			font-size: 20px;
			color: #ffffff;
			margin-bottom: 25px;
		}
		.cost_price {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 30px;
			p {
				font-size: 36px;
				margin-bottom: 0;
				line-height: 42px;
				&:last-child {
					font-weight: 900;
					margin-left: 40px;
				}
			}
		}
	}
}