@media screen and (max-width: 1788px) {
	.section-1 .car {
		left: 8px;
	}
}
@media screen and (max-width: 1582px) {
	.section-1 .car img {
		max-width: 500px;
	}
}
@media screen and (max-width: 1199px) {
	header .logo {
		img {
			width: 100%;
		}
	}
	header .header-address, header .phone-header {
		margin-top: 15px;
	}
	header .phone-header .call, header .header-address p:first-child {
		font-size: 27px;
	}
	header .header-address p, header .phone-header p {
		font-size: 14px;
	}
	h1 {
		font-size: 32px;
	}
	.section-1 .car {
		bottom: 57px;
		img {
			max-width: 450px;
		}
	}
	h2 {
		font-size: 27px;
	}
	.section-2 .services p {
		font-size: 16px;
	}
	.section-3 .text-block p {
		font-size: 16px;
	}
	.section-3 .img-block img {
		max-width: 100px;
	}
	.section-4 .crocodile img {
		max-width: 641px;
	}
	.section-4 .cost .cost_price p {
		font-size: 30px;
		line-height: 36px;
	}
	.section-4 .cost p {
		font-size: 18px;
	}
	.section-5 p {
		font-size: 18px;
	}
	.section-6 .rule p {
		font-size: 18px;
	}
	.section-7 h2 {
		margin-bottom: 20px;
	}
	.section-7 p {
		font-size: 20px;
	}
}
@media screen and (max-width: 1050px) {
	.section-1 .car img {
		max-width: 400px;
	}
}
@media screen and (max-width: 991px) {
	header .header-address, header .phone-header {
		text-align: center;
	}
	.section-1 .section-1_inform-block {
		margin-bottom: 206px;
	}
	.section-1 .car {
		left: 50%;
		margin-left: -200px;
	}
	.section-3 .advantages {
		display: block;
		text-align: center;
	}
	.section-3 .text-block {
		justify-content: center;
	}
	.section-3 .advantages .row {
		width: auto;
	}
	.section-3 .img-block {
		margin-bottom: 15px;
	}
	.section-4 .crocodile {
		height: 300px;
	}
	.section-4 .crocodile img {
		top: 96px;
	}
	.section-5 .section-5_img {
		text-align: center;
	}
	.section-6 .rule p {
		font-size: 16px;
	}
	.section-7 p {
		font-size: 16px;
	}
}
@media screen and (max-width: 767px) {
	h1 {
		font-size: 30px;
		margin-top: 30px;
	}
	.section-1 .description {
		p {
			font-size: 14px;
		}
	}
	h2 {
		font-size: 23px;
	}
	.section-3 .section-3_inform-block p {
		font-size: 16px;
	}
	.section-4 .crocodile img {
		max-width: 493px;
		top: 138px;
	}
	.section-4 .cost p {
		font-size: 16px;
	}
	.section-5 p {
		font-size: 16px;
	}
	.section-5 h2 {
		margin-bottom: 20px;
	}
	.section-5 .section-5_img {
		margin-top: 20px;
	}
	.section-6 .rule .img-block img {
		max-width: 359px;
	}
}
@media screen and (max-width: 530px) {
	h1 {
		font-size: 26px;
	}
	.section-1 .title p {
		font-size: 20px;
	}
	.section-1 .car img {
		max-width: 350px;
	}
	.section-1 .car {
		margin-left: -175px;
	}
	h2 {
		font-size: 21px;
	}
	.section-4 .cost .cost_price {
		justify-content: space-between;
	}
	.section-4 .cost .cost_price p:last-child {
		margin-left: 0;
	}
	.section-7 .link-number a {
		font-size: 25px;
	}
	.section-8 .map {
		height: 370px;
	}
}
@media screen and (max-width: 415px) {
	h1 {
		font-size: 22px;
	}
	.section-4 .cost .cost_price p {
		font-size: 25px;
		line-height: 31px;
	}
	.section-7 .link-number a span {
		display: block;
	}
}
@media screen and (max-width: 370px) {
	.section-1 .car {
		margin-left: -150px;
	}
	.section-1 .car img {
		max-width: 300px;
	}
	.section-1 .section-1_inform-block {
		margin-bottom: 150px;
	}
	.section-4 .cost .cost_price p {
		font-size: 22px;
		line-height: 28px;
	}
	.section-4 .crocodile p {
		font-size: 25px;
	}
	.section-4 .crocodile img {
		right: 10px;
	}
}
@media screen and (max-width: 350px) {
	.section-4 .cost .cost_price p {
		font-size: 20px;
		line-height: 26px;
	}
}